# render.yaml
databases:
  - name: license-db
    plan: free
    postgresMajorVersion: 14

services:
  - type: web
    name: license-server-django
    runtime: python
    pythonVersion: "3.11"
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn myproject.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: license-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
